*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

}
body{
  background:#333;
}
.content{
  position:absolute;
  z-index:999;
  color:#fff;
  top:50%;
  left:30%;
  transform:translateY(-50%);
  user-select:none;
}
h1{
  font-size:36px;
  margin-bottom:10px;
  text-shadow:0 10px 50px #000;
}
h2{
  font-size:30px;
    text-shadow:0 10px 50px #000;
}

.container{
    max-width: 800px;
    background-color: rgba(173, 173, 173, 0.705);
    box-shadow: 2px 2px 2px rgb(97, 97, 97);
    padding: 50px;
    text-align: center;
    border-radius: 20px;
   
}

h3{
  display: inline-block;
  margin: 30px;
}

#inputs{
  display: flex;
  justify-content: space-around;
}

input{
  height: 20px;
  width: 200px;
  border-radius: 10px;
}

#enviar{
  width: 160px;
  margin-top: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: rgba(158, 4, 4, 0.753);
  color: rgb(219, 215, 215);
}

#enviar:hover{
  background-color: rgb(138, 1, 1);
}

.results{
  margin-top: 20px;
  display: none;
}
.match{
  display: flex;
  align-items: center;
  justify-content: center;
}
.spanout{
  display: flex;
  justify-content: start;
  background-color: rgba(0, 0, 0, 0.719);
  padding: 20px;
  border-radius: 20px;
  margin-top: 10px;
  color: rgb(219, 215, 215);;
}

.resp{
  margin-left: 10px;
}

img{
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 600px) {
    .container{
      width: 95%;
      padding: 50px;
    }
    .content{
      left: 0%;
      width: 400px;
    }
    h3{
      font-size: 14px;
      margin: 15px;
    }

    #inputs{
      margin: 10px;
    }
    #fname{
      margin-right: 10px;
    }
    #sname{
      margin-left: 10px;
    }
}

@media screen and (max-width: 480px) {
    .container{
      width: 70vw;
      padding: 30px;
    }
    .content{
      margin: auto;
      width: 60vw;
      left: 25px;
    }

    h1{
      font-size:26px;
      margin-bottom:10px;
      text-shadow: 1px 2px 3px  #000;
    }

    h3{
      font-size: 14px;
      
    }
    .dpns{
      display: flex;
      justify-content: center;
      align-items: center;
      text-shadow: 1px 2px 3px  #000;
    }

    #dpn1{
     font-size: 12.3px;

    }

    #dpn2{
      font-size: 12.3px;
      
    }

    input{
      height: 20px;
      width: 120px;
      border-radius: 10px;
    }

    #fname{
      margin-right: 5px;
    }
    #sname{
      margin-left: 5px;
    }

    .results{
      margin-top: 20px;
      display: none;
      font-size: 14px;
    }
    .match{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 12px;
    }
    .spanout{
      display: flex;
      justify-content: start;
      background-color: rgba(0, 0, 0, 0.719);
      padding: 10px;
      border-radius: 20px;
      margin-top: 10px;
      color: rgb(219, 215, 215);;
    }
    
    .resp{
      margin-left: 10px;
    }
    
    img{
      width: 30px;
      height: 30px;
    }
}
